<!DOCTYPE html>
<html>
<head>
  <title>Zona Extrema</title>

  <%= favicon_link_tag 'favicon/android-icon-192x192.png', rel: 'icon', type: 'image/png', sizes: "192x192" %>
  <%= favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: "32x32" %>
  <%= favicon_link_tag 'favicon/favicon-96x96.png', rel: 'icon', type: 'image/png', sizes: "96x96" %>
  <%= favicon_link_tag 'favicon/favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: "16x16" %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  
</head>

<body class="landpage-wallpaper">

  <section id="index" class="center">
    <section id="logo">
      <div class="logo-content">
        <%= image_tag 'biologo.png', width: '50' %>
      </div>
      <h1>Zona Extrema</h1>
      <h2 class="description">Rastreie. Analize. Aprenda</h2>
    </section>
  </section>
  
  <section class="method">
    
    <section class="method-testimonies">
      <h1 class="method-title">Quem segue</h1>
      <div class="board">
        <div>Antes/Depois</div>
        <div>testemunho</div>
      </div>
    </section>

    <section class="method-what">
      <h1 class="method-title">O que é</h1>
      <div class="board">
        <div>Método criado e atualizado com as últimas descobertas científicas para obter saúde, performance e estética sem sacrifícios e sem abrir mão de uma vida social.</div>
      </div>
    </section>
    
    <section class="method-work">
      <h1 class="method-title">Como Funciona</h1>
      <div class="board">
        <div>
          Seguindo melhores práticas.
          <br/>
          <%= image_tag "piramid.png" %>
        </div>
        <div>
          Registrando as atividades.
          <br/>
          <%= image_tag "track.png" %>
        </div>
        <div>Aprendendo e Melhorando.</div>
      </div>
    </section>

    
  </section>
  
  
  <section class="signup">
  	<h1 class="signup-title">Escolha seu plano e comece agora</h1>
  	<div class="signup-cards">
  		
  		<div class="signup-card signup-card-premium">
  			<h2 class="signup-card-title">Premium</h2>
  			<span class="signup-card-portionPrice">R$ 62,00</span>
  			<div class="signup-card-info">
  				<span class="signup-card-info-item signup-card-info-allCourses">
  					<span class="signup-card-allCourses-number">
  						179
  					</span>
  					<span class="signup-card-allCourses-text">Cursos de todas as trilhas</span>
  				</span>
  				<span class="signup-card-info-item signup-card-info-exercises">
  					<span class="signup-card-exercises-number">
  						6.157
  					</span>
  					<span class="signup-card-exercises-text">Exercícios</span>
  				</span>
  				<span class="signup-card-info-item signup-card-info-future">
  					<span class="signup-card-futureCourses-check">Estude por 1 ano</span>
  				</span>
  				<span class="signup-card-info-item signup-card-info-ebooks">
  					<span class="signup-card-ebooks-check">3 e-books da Casa do Código</span>
  				</span>
  				<span class="signup-card-info-item signup-card-info-galandra">
  					<span class="signup-card-galandra-check">Curso de inglês do Galandra</span>
  				</span>
  			</div>
  			<a class="signup-card-buy-action" href="/compra/premium/">Assinar</a>
  		</div>
  		
  		<div class="signup-card signup-card-premiumPlus">
  			<h2 class="signup-card-title">Acompanhado</h2>
  			<span class="signup-card-portionPrice">R$ 160,00</span>
  			<div class="signup-card-info">
  				<span class="signup-card-info-item signup-card-info-allCourses">
  					<span class="signup-card-allCourses-number">
  						179
  					</span>
  					<span class="signup-card-allCourses-text">Cursos de todas as trilhas</span>
  				</span>
  				<span class="signup-card-info-item signup-card-info-exercises">
  					<span class="signup-card-exercises-number">
  						6.157
  					</span>
  					<span class="signup-card-exercises-text">Exercícios</span>
  				</span>
  				<span class="signup-card-info-item signup-card-info-future">
  					<span class="signup-card-futureCourses-check">Estude por 1 ano</span>
  				</span>
  				<span class="signup-card-info-item signup-card-info-ebooks">
  					<span class="signup-card-ebooks-check">3 e-books da Casa do Código</span>
  				</span>
  				<span class="signup-card-info-item signup-card-info-galandra">
  					<span class="signup-card-galandra-check">Curso de inglês do Galandra</span>
  				</span>
  			</div>
  			<a class="signup-card-buy-action" href="/compra/premiumplus/">Assinar</a>
  		</div>

  			<div class="signup-card signup-card-course">
  				<h2 class="signup-card-title">Guia</h2>
  				<span class="signup-card-portionPrice">R$ 28,80</span>
  				<div class="signup-card-info">
  					<span class="signup-card-info-item signup-card-info-course">
  						<span class="signup-card-course-number">1</span>
  						<span class="signup-card-course-text">Curso</span>
  					</span>
  					<span class="signup-card-info-item signup-card-info-exercises">
  						<span class="signup-card-exercises-number">
  							17
  						</span>
  						<span class="signup-card-exercises-text">Exercícios</span>
  					</span>
  					<span class="signup-card-info-item signup-card-info-future">
  						<span class="signup-card-futureCourses-check">Estude por 1 ano</span>
  					</span>
  					<span class="signup-card-info-item signup-card-info-ebooks">
  						<span class="signup-card-ebooks-check">3 e-books da Casa do Código</span>
  					</span>
  					<span class="signup-card-info-item signup-card-info-galandra">
  						<span class="signup-card-galandra-check">Curso de inglês do Galandra</span>
  					</span>
  				</div>
  				<a href="/compra/introducao-ao-marketing-na-era-digital" class="signup-card-buy-action">Assinar</a>
  			</div>

  	</div>
  </section>
  
</body>

</html>
